:80
root * /home/alma/Documents/Projects/Alma101-Cybersecurity
encode gzip zstd

handle /api/* {
    root * /home/alma/Documents/Projects/Alma101-Cybersecurity/backend
    php
}

try_files {path} {path}/ /index.html

file_server