:80
root * ./
encode gzip zstd

# API requests
handle /api/* {
    # Move the request to the backend directory
    rewrite * /backend{path}
    
    # Now serve from the project root
    root * ./
    php
    file_server
}

# Everything else - SPA
handle {
    try_files {path} {path}/ /index.html
    file_server
}